@model ExpenseViewModel
@inject IUnitOfWork UnitOfWork

@{
    ViewData["Title"] = "Edit";

}

<form asp-controller="Expense" asp-action="Edit">

    

    <div class="form-group">

        <label class="col-form-label" for="Name">Amount</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"> </span>
    </div>

    <div class="form-group">

        <label class="col-form-label" for="Amount">Date</label>
        <input asp-for="Date" type="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"> </span>

    </div>



    <div class="form-group">

        <label class="col-form-label" for="Name">Category</label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"> </span>
    </div>

    <div class="form-group">

        <label class="col-form-label" for="Name">Account</label>
        
        <select asp-for="AccountName" class="form-control">

            @{
                var Accounts = await UnitOfWork.AccountRepository.GetAllAsync();
                foreach (var Account in Accounts)
                {
                    <option value="@Account.Name">@Account.Name</option>
                }
            }

        </select>

        <span asp-validation-for="AccountName" class="text-danger"> </span>
    </div>

    <br />

    <input type="submit" value="Save" class="btn btn-primary"></input> |
    <a asp-Controller="Account" asp-action="Index" class="btn btn-dark">Back</a>
</form>

