@model TransferViewModel

@{
    ViewData["Title"] = "Transfer Details";
}




<form asp-controller="Transfer" asp-action="Create">



    <div class="form-group">

        <label class="col-form-label" for="Source Account">Source Account</label>

        <input asp-for="SourceAccountName" class="form-control" readonly />
    </div>

    <div class="form-group">

        <label for="Recipient Account" class="col-form-label">Recipient Account</label>
        <input asp-for="RecipientAccountName" class="form-control" readonly />

    </div>

    <div class="form-group">

        <label class="col-form-label" for="Amount">Amount</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"> </span>

    </div>

    <div class="form-group">
        <label class="col-form-label" for="Date">Date</label>

        <input asp-for="Date" class="form-control" type="datetime-local" value="1999-01-01T19:30" />

    </div>

    <br />



     
    <a asp-Controller="Transfer" asp-action="Index" class="btn btn-dark">Back</a>
</form>
